.wrapper {
    position: relative;
    
}

#calendar {
    
    height: 600px !important;
    
}

.body-content {
    width:100%;
    
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0em;
    background: black;
    opacity: 0;
    z-index: 99;
}

.navbar {
    background-color: #AB0520;
    border-color: #CC665E;
}

.jumbotron {
    background-color: #E6E3D9;
    
    padding: 4rem 0.5rem 0 !important;
    margin: 0 0 0 0 !important;
}

.navbar-fixed-top {
    border-width: 0 0 7px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-header {
    color: #FFFFFF;
}

.presence {
    font-size: 150%;
    margin-bottom: 10px;
    list-style-type: none;
    width: 100%;
}

#clockWrapper {
    /*margin-top: 40px;*/
    text-align:center;
}
.prescenceNotes div {
    padding: 0px;
    margin: 0px;
    width: 100%;
}
.rightSection {
    margin-top: -60px;
    
}

