@{
    ViewBag.Title = "Tech Serv";
}

@section scripts {

    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    @*<script type="text/javascript" src="~/signalr/hubs"></script>*@
    @*<script type="text/javascript" src="~/signalr/hubs"></script>*@
    <script type="text/javascript" src="~/signalr/hubs/"></script>

    <script type="text/javascript" src="~/Scripts/flipclock.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bebackAdmin.js"></script>
}


<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12">
            <h1>Admin Console</h1>
        </div>
    </div>
    
    <div class="row">

        <div class="col-md-10">
            <h2>Display Calendar</h2>
            <button id="btnShowWeek" class="btn btn-default">Show Week</button>
            <button id="btnShowMonth" class="btn btn-default">Show Month</button>
            <button id="btnPageReload" class="btn btn-danger" title="Presence is lost">Reload Page</button>
            <p><b>NOTE</b>: When reloading the page, presence is lost!</p>
            <br />
            <h2>Type a message:</h2>
            <input id="txtTitle" class="btn btn-default" placeholder="Title" />
            @*<button id="btnTitle" class="btn btn-default">Submit</button>*@
            <br />
            <input id="txtSubtitle" class="btn btn-default" placeholder="SubTitle" />
            @*<button id="btnSubtitle" class="btn btn-default">Submit</button>*@
            <br />
            <input id="txtMessage" class="btn btn-default" placeholder="Message" />
            @*<button id="btnMessage" class="btn btn-default">Submit</button>*@
            <button id="btnSubmit" class="btn btn-default">Submit</button>
            <h2>Preset time for the timer</h2>
            <button id="btn15" class="btn btn-default">15 Minutes</button>
            <button id="btn30" class="btn btn-default">30 Minutes</button>
            <button id="btn60" class="btn btn-default">60 Minutes</button>
            <h2>Or enter a custom time (minutes)</h2>
            <input id="txtCustom" class="input-sm" placeholder="Minutes" />
            <button id="btnCustom" class="btn btn-default">Custom</button>


        </div>
        <div class="col-md-2"></div>
    </div>
</div>



